/* general */

img{
  height: 100px;
}

h1, h2, h3 {
  margin-top: 15px;
  margin-bottom: 15px;
}

body {
  text-align: center;
}

/* tipografia */


/* utilities */
.box{
  float: left;
}

.box {
  padding: 20px;
}

/* MAIN */
.background_grey{
  background-color: #f9f9f9;
}

main .perche{
  margin-top: 50px;
}

hr{
  margin-top: 25px;
}

.perche .container .box img {
  background-color: #428bca;
  border-radius: 50%;
  padding: 10px;
  height: 200px;
}
