/* general */

img{
  height: 100px;
}


/* tipografia */


/* utilities */
.box{
  float: left;
  background-color: lightblue;
}


.background_grey{
  background-color: grey;
}


main .perche{
  margin-top: 50px;
}
